.DS_Store
build
buildXcode
buildVS
.vscode

project.xcworkspace
xcuserdata
xcshareddata
UserInterfaceState.xcuserstate
UserInterface.xcuserstate

luawithlib/Android/libs
luawithlib/Android/obj

*.iml
.idea
