.DS_Store
build
buildXcode
buildVS
.vscode

*.xcuserstate
project.xcworkspace
xcuserdata
UserInterfaceState.xcuserstate
project.xcworkspace/
xcuserdata/
UserInterface.xcuserstate

luawithlib/Android/libs/
luawithlib/Android/obj/

demo/lua/*.so
demo/lua/*.dll
demo/lua/*.lasm
